.admin-dashboard-container {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
    height: 100vh;            /* Ocupar toda la altura de la pantalla */
    text-align: center;       /* Centrar el texto */
    background-color: #f5f5f5; /* Color de fondo opcional */
  }
  
  