/* Contenedor general del DisclaimerViewer */
.disclaimer-viewer-container {
    display: flex; /* Flexbox para organización */
    flex-direction: column; /* Columna para alinear los elementos */
    justify-content: flex-start; /* Alinear el contenido justo después del header */
    align-items: center; /* Centrar los elementos horizontalmente */
    min-height: 100vh; /* Altura mínima para ocupar toda la pantalla */
    background-color: #f5f5f5; /* Fondo claro */
    padding-top: 98px; /* Espacio para evitar que el header cubra el contenido */
  }
  
  /* Contenedor para el contenido de los deslindes */
  .disclaimer-viewer-content {
    background-color: #f9f9f9; /* Fondo del contenido */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px 0; /* Espaciado superior e inferior */
    overflow-y: auto; /* Desplazamiento vertical si el contenido es extenso */
    width: 50%; /* Ancho ajustado a la mitad de la pantalla */
    max-width: 800px; /* Ancho máximo para evitar que sea demasiado ancho */
    height: calc(100vh - 140px); /* Altura dinámica según el espacio entre el header y el footer */
  }
  
  /* Títulos dentro del DisclaimerViewer */
  .disclaimer-viewer-content h2 {
    color: #0047AB; /* Color del título */
    margin-bottom: 10px; /* Margen inferior */
    font-size: 1.5rem; /* Tamaño de fuente */
  }
  
  /* Estilo para la versión del deslinde */
  .disclaimer-version {
    color: #888; /* Color gris claro para la versión */
    margin: 5px 0 15px 0; /* Espacio superior e inferior */
    font-size: 1.1rem; /* Tamaño de fuente ligeramente más pequeño */
  }
  
  /* Párrafos dentro del DisclaimerViewer */
  .disclaimer-viewer-content p {
    color: #333; /* Color del texto */
    margin-bottom: 15px; /* Espacio entre párrafos */
    text-align: justify; /* Justificación del texto */
  }
  
  /* Botones dentro del DisclaimerViewer */
  .disclaimer-viewer-content button {
    margin-top: 20px; /* Espacio superior */
    padding: 10px 15px; /* Tamaño del botón */
    background-color: #0047AB; /* Color del fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor interactivo */
    transition: background-color 0.3s; /* Efecto de transición suave */
  }
  
  /* Efecto hover para el botón */
  .disclaimer-viewer-content button:hover {
    background-color: #003594; /* Color al pasar el mouse */
  }
  
  /* Títulos secundarios en el DisclaimerViewer */
  .disclaimer-viewer-content h3 {
    color: #555; /* Color de subtítulos */
    margin-top: 15px; /* Espaciado superior */
  }
  
  /* Ajustes responsivos */
  @media (max-width: 768px) {
    .disclaimer-viewer-content {
      width: 90%; /* Ajusta el ancho en pantallas pequeñas */
      height: auto; /* Altura automática para pantallas pequeñas */
    }
  }
  