.footer {
    background-color: #0047AB; /* Azul corporativo */
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    
  }
  