.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 10px; /* Espacio entre columnas y filas */
    width: 100%;
    max-width: 800px; /* Ancho máximo del formulario */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    grid-column: span 2; /* Hace que el botón ocupe ambas columnas */
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #15569b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00337a;
  }
  
  .password-strength {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .password-strength.debil {
    color: red;
  }
  
  .password-strength.medio {
    color: orange;
  }
  
  .password-strength.fuerte {
    color: green;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
    .register-form {
      grid-template-columns: 1fr; /* En pantallas pequeñas, una sola columna */
    }
  }
  